@model IEnumerable<Aula_Virtual.Models.Estudiantes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container">
    <h2>Estudiantes</h2>

    <p>
        @Html.ActionLink("Nuevo Registro", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.carrera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carreras.Nombre)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.edad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaNacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.carrera)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Carreras.Nombre)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
    </div>