<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
    @Styles.Render("~/estilo/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>
    <body class="bodymenu">
        <!--form area start-->
     
        <!--form area end-->
        <script type="text/javascript">
            $('.options-02 a').click(function(){
                $('form').animate({
                    height: "toggle", opacity: "toggle"
                }, "slow");
            });
        </script>
    </body>
    @RenderBody()
</body>
</html>
