@model IEnumerable<Aula_Virtual.Models.Secciones>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container">
    <h2>Secciones</h2>

    <p>
        @Html.ActionLink("Nuevo Resgistro", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.clase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cupos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maestro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clases.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maestros.nombre)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.clase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.aula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cupos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.maestro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.clases.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Maestros.nombre)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
    </div>