@model IEnumerable<Aula_Virtual.Models.Maestros>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container">
    <h2>Maestros</h2>

    <p>
        @Html.ActionLink("Nuevo Registro", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.especialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.edad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.especialidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
    </div>